@charset "UTF-8";

:root{
    --color1: #8C030E;
    --color2: #f7f7f7;
}
*{
    margin: 0;
}

body{
    background-color: var(--color2);
}

span{
    color: var(--color1);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 50px;
}

header img{
    max-width: 400px;
    display: flex;
}

header li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: black;
    padding: 0 10px;
    font-size: 1.2em;
}

header a:hover{
    color: var(--color1);
    text-decoration: underline;
} 

a > span{
    color: black;
    border: var(--color1) 2px solid;
    padding: 5px 10px;
    border-radius: 20px;
}

a > span:hover{
    color: var(--color2);
    background-color: var(--color1);
}

main > article.first{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 5%;
}

article > aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
}

aside h1{
    margin: 10px 0;
    font-size: 2em;
    color: var(--color1);
    text-decoration: underline;
}

aside p{
    font-size: 1.2em;

}

button{
    margin: 40px 0;
    border:none;
    padding: 5px 10px 10px 10px;
    background-color: #28a71b;
    border-radius: 20px;
}

button a{
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}
button a:hover{
    text-decoration: underline;
}
button img{
    height: 25px;
    translate: 0 5px;
}


main > article > section > img {
    max-width: 500px;
    border-radius: 10px;
}

article.second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    padding: 40px 0 ;
    background-color: var(--color1);
    color: var(--color2);
}

/* main .box-main{
    text-align: center;
    margin: 0px 0 ;
    max-width: 1000px;
    display: none;
} */

/* main  .box-main >  h1{
    margin: 20px 0;
    text-align: center;
}

main  .box-main > p{
    margin: 50px 0;
    text-align: justify;
} */


section > .itens {
    width: 300px;
    height: 400px;
    box-shadow: 2px 3px 5px #4d0108;
    background-color: var(--color2);
    color: black;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px 10px ;
}

section > .itens > img{
    height: 100px;
}

section > .itens > h2{
    line-height: 22px;
    padding: 10px ;
    text-align: center;
}

section > .itens > p{
    text-align: center;
    padding: 10px ;
}

section.itens1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

article.third{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #4d0108;
    color: var(--color2);
}
article.third > h2{
    font-size: 2.3em;
    padding: 0 0  50px 0;
    text-align: center
}

article.third > section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

article.third > section > .text{
    font-size: 1.6em;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    
}


.forth{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0 30px 0;
}

section.equipe{
    text-align: center;
}
.equipe h2{
    margin: 20px 0;
    font-size: 1.5em;
}
.equipe h2 > a{
    background-color: var(--color1);
    color: var(--color2);
    padding: 10px;
    border-radius: 10px;
  
}
.equipe h2 > a:hover{
    cursor: pointer;
    background-color: #4d0108;
}
aside.formulario > .contato{
    margin: 20px 0;
}

aside.formulario > .contato h2{
    font-size: 2.5em;
}

form.site{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form [type="submit"]{
    height: 50px;
    background-color: var(--color1);
    color: white;
}
form [type="submit"]:hover{
    cursor: pointer;
    background-color: #4d0108;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
}

footer{
    background-color: rgb(80, 80, 80);
    color: var(--color2);
    padding: 0 0 15px 0;
}

footer div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0 ;
    margin: auto;
    max-width: 1200px;
}

footer div img{
    max-width: 400px;

}
.social{
    text-align: center;
}
.social > p{
  display: inline;
  text-align: center;
  cursor: pointer;
 
}

.social img {
    width: 30px;
    padding: 2px ;
    margin: 0 -5px;
}
.social p> a >img:hover{
    background-color: #f7f7f7;
    border-radius: 5px;
}
footer > h3{
    text-align: center;
    text-decoration: underline;
    padding: 20px;
}
footer  > h3 a{
    color: var(--color2);
}

footer  > h3 a:hover{
    cursor: pointer;
    color: var(--color1);
}

footer > p {
    text-align: center;
    padding: 1px;
    background-color: #f7f7f7;
}

div.whats{
    position: fixed;
    padding: 0;
    right: 0;
    bottom: 0; 
}
.whats-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.whats p{
    display: block;
    background: var(--color2);
    border-radius: 3px;
    padding: 10px;
    position:relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.whats p::after{
    position: absolute;
    right: -10px;
    color: var(--color2);
    content: "►";
}


.whats img{
    max-width: 60px;
}
.whats a:hover{
    cursor: pointer;
}
