@charset "UTF-8";

/* Todas as demais mídias */
/* 

Typical Device Breakpoints 

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px

*/
:root{
    --color1: #3E0006;
    --color2: #ffffff;
    --color3: #990001;
}

@media screen and  (max-width: 768px) { /* celular */

    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
        padding: 20px;
        cursor: pointer;
    }
    .header1{
        display: flex;
        flex-direction: column;
    }
    header .nav-cell{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .header-logo{
        position: absolute;
        left: 5%;
    }
    i#burguer{
        position: absolute;
        right: 5%;
        display: block;
        color: white;
    }
    nav{
        display: none;
        position: absolute;
        right: 0;
        padding: 50px 20px;
        border-radius: 0 0 0 50px;
        box-shadow: 0 0 31px #3e000673;
        background-color: var(--color1);
    }
    .header1 nav i{
        display: block;
        position: absolute;
        top: 5%;
        right: 10%;
        width: 24px;
        cursor: pointer;    
        text-align: center;
        line-height: 24px;
        border-radius: 50%;
    }

    .header1 nav i:hover{
        color: var(--color3);
        background-color: var(--color2);
        cursor: pointer;
    }

    .header1 nav > a{
        display: block;
        padding: 10px;
        font-size: large;
        text-align: center;
    
    }
    .header1 nav > a:hover{
        text-decoration: underline;
    }
    .header1 nav span{
        display: none;
    }

    h2{
        font-size: 32px;
    }
    
}


