@charset "UTF-8";

:root{
    --color1: #3E0006;
    --color1_1: #3e070c;
    --color2: #ffffff;
    --color3: #108d03;
    --color3_1: #0e6205;
    --color4: #C10010;
}

@media screen and (max-width: 992px) {   /* Tablet*/
    
    
/* Form */

#form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#form-container a{
    color: var(--color2);
  
}

#form-container a:hover{
    color: var(--color2);
    background-color: var(--color4);
}

div.box-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    max-width: 500px;
    
}

div.especialistas{
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: auto;
}

.img img{
   padding: 25px 0;
    width: 100%;
}


/* CTA */

#cta h2{
    font-size: 1.7em;
}

#cta p{
    font-size: 1em;
}

/* Sobre */

div#sobre-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#items{
    display: inline-grid;
    grid-template-columns: auto auto ;
    justify-items: center;
    margin-bottom: 20px;
}

div#items p {
    font-size: 1.3em;
}

/* Final */

#final-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

div#divisoria{
    background-color: var(--color2);
    height: 3px;
    width: 80%;
    margin: 40px 0;
}

}

@media screen and  (max-width:786px){ 

    .btn{
        border-radius: 10px;
        font-size: 1.2em;
        padding: 10px 20px;
        background-color: var(--color1);
    }

    /* NavBar */
    #navbar-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #navbar-items{
        display: none;
    }

    /* Form */
    
   
    /* CTA */

    #cta h2{
        font-size: 1.4em;
    }

    #cta p{
        font-size: .8em;
    }

    /* Sobre */


    div#items p {
        font-size: 1em;
    }
    /* div#sobre-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    div#items{
        display: inline-grid;
        grid-template-columns: auto auto ;
        justify-items: center;
        margin-bottom: 20px;
    } */

}