@charset "Utf-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color1: #3E0006;
    --color2: #ffffff;
    --color3: #108d03;
    --color3_1: #0e6205;
    --color4: #C10010;
}

a{
    text-decoration: none;
    color: inherit;
}

.btn{
    border-radius: 10px;
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: var(--color1);
}

.box{
    max-width: 1200px;
    margin: auto;
    padding: 50px ;
}

/*  navbar */

#navbar{
    background-color: var(--color2);
    background-image: url(../components/fundo-textura.png);
    width: 100%;
    position: fixed;
    z-index: 1;
    opacity: 90%;
}

#navbar-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

#logo{
    width: 300px;
}

#navbar-items{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    list-style: none;
}

#navbar-items li {
    padding: 10px;
}

/* header */

#showcase{
    background: url(../components/fundo-header.png) no-repeat center center/cover ;
}



#showcase-container h1{
    margin-top: 0px;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: var(--color2);
    padding-top: 50px ;
}

#container-video{
    max-width: 1000px;
    margin: auto;
    padding: 50px 0 ;
}

div#video{
   width: 100%;
   padding-bottom: 56.25%;
   position: relative;
}

div#video > iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.img-design > img.um{
    position: absolute;
    left: -30px;
    top: -30px;
}

.img-design > img.dois{
    position: absolute;
    bottom: -30px;
    right: -30px;
}

#showcase #btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn .btn{

    background-color: var(--color2);
    color: var(--color1);
    margin: 0 0 50px 0;
}

#btn .btn:hover{
    background-color: var(--color4);
    color: var(--color2);
    cursor: pointer;
}


/* Form */

#form {
    background-color: var(--color2);
    background-image: url(../components/fundo-textura.png);
    
}

#form-container{
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: 1500px;
    margin: auto;
}

#form-container a{
    color: var(--color2);
  
}

#form-container a:hover{
    color: var(--color2);
    /* background-color: var(--color4); */
}

div.box-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: beige; */
    padding: 10px;
    
}

div.especialistas{
   display: flex;
   align-items: center;
   flex-direction: column;
   /* background-color: #C10010; */
   
   margin-right: 100px;
}


.img img{
   padding: 25px 0;
    width: 100%;
}




div.form{
    background-color: var(--color1);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-left: 100p;
    /* background-color: aqua; */
}

.form div {
    color: var(--color2);
    padding: 15px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;

}

form input{
    height: 50px;
    padding: 10px;
    margin: 2px 0;
    border-radius: 10px;
    border: none;
}

textarea{
    padding: 10px;
    margin: 2px 0;
    border-radius: 10px;
    border: none;
}

form [type="button"]{
    height: 50px;
    background-color: var(--color2);
    color: var(--color1);
}
form [type="button"]:hover{
    background-color: var(--color4);
    color: var(--color2);
    cursor: pointer;
}

/* CTA */

section#cta{
    background-image: url(../components/fundo-form.png);
    background-size: cover;
    color: var(--color2);
    text-align: center;
}

#cta-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#cta-container > h2{
    font-weight: bold;
    padding: 20px;
    font-size: 2em;
}
#cta-container > p{
    padding: 20px;
    font-size: 1.2em;
}
#cta-container > a{
    display: inline-block;
    margin: 30px 0 20px 0;
    background-color: var(--color4);
    color: var(--color2);
}

#cta-container > a:hover{
    background-color: var(--color2);
    color: var(--color4);
}



/*  Sobre */

section#sobre{
    background-color: var(--color2);
    background-image: url(../components/fundo-textura.png);
}

div#sobre-container > div{
    padding: 50px 0;
    text-align: center;
}

div#sobre-container  h2{
    font-weight: bold;
    font-size: 1.9em;
}

div#sobre-container  p{
    font-size: 1.3em;
    margin-top: 40px;
}

div#items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    grid-gap: 15px;
    justify-items: center;
    margin-bottom: 20px;
}

div.box-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 250px;
    height: 205px;
    border-radius: 15px;
    background-color: var(--color1);
    color: var(--color2);
}

div.button{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#sobre-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
    color: var(--color2);
    padding: 10px 50px;
}

#sobre-container div.button img{

    padding-right: 20px;
}

#sobre-container a:hover{
    background-color: var(--color3_1);
    cursor: pointer;
}


/*  final */


#final{
    background-color: var(--color1);
    color: var(--color2);
}

#final-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
 
}

#container1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}


div.icon1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 10px 0;
}

div.icon a{
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 50px;
    padding: 10px;
}

div.icon a:hover{
    background-color: #ffffff30;
}

div.icon1 img{
    padding-right: 10px;
}

div#divisoria{
    background-color: var(--color2);
    height: 300px;
    width: 3px;
    margin: 0 100px;
}

#container2 a{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--color2);
    color: var(--color1);
    border-radius: 5px;
    margin: 15px 0;
}

#container2 a:hover{
    background-color: var(--color4);
    color: var(--color2);
}

/* Footer */

footer{
    text-align: center;
    font-size: .9em;
    padding: 5px;
}