@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body,html{
    background-color: white;
}
header{
    background-color: white;
    position: relative;
    text-align: center;
}
header > i{
    position: absolute;
    padding: 10px 10px;
    top: 12px;
    left: 1%;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
}
/* header > h1{
    display: block;
    margin: auto;
    padding: 10px 0;
} */
header > img{
    position: relative;
    height: 50px;
    padding: 10px;
    display: block;
    margin: auto;
}
menu{
    display: none;
}
menu > ul{
    list-style-type: none;
    border-top: 2px solid black;
}
menu > ul > li{
    text-align: center;
    width: 100%;
}
menu > ul > li > a{
    display: block;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid black;
    color: black;
}
menu > ul > li > a:hover{
    background-color: black;
    color: white;
}
section{
    height: 80vh;
}
section.cardapio {

}
section.cardapio > .img-box{
    display: block;
    width: 100vw;
    max-height: 600px;
}
section.cardapio > .img-box > img{
    width: 100%;
}
